.menu, .menu-burger, .menu-bg {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 25px;
  top: 25px;
}
.menu-bg {
  /*background: #000000;*/
  pointer-events: none;
  transition: 0.3s;
  right: 50px;
  top: 50px;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center;
  z-index: 1;
}
.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
}
.menu-burger {
  color: rgb(0, 0, 0);
  padding-top: 0px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.4s;
  transform-origin: center;
}
.menu-burger.fs {
  transform: rotate(-180deg) translateY(10px);
}
.menu-items {
  background-color: rgb(255, 255, 255);
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: left;
  padding-left: 10px;
  opacity: 0;
  transition: 0.4s;
  margin-top:0px;
  transform: translateY(-200%);
  pointer-events: none;
  z-index: 2;
}
.menu-items a {
  color: #000000;
  text-decoration: none;
}
.menu-items div {
  transition: 1s;
  opacity: 0;
  margin-top: 0px;
}
.menu-items.fs {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}
.menu-items.fs div {
  opacity: 1;
  margin-top: 20px;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttondark {
  background-color: #575656;
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 280;
  height: 33;
}

#titel {
  font-size: 26px;
  font-weight: 300;
  color: white;
  padding-left: 30px;
  padding-top: 25px;
  margin: 0;
}

#logo {
  width: 112px;
  padding: 15px;
}

header {
  height: 90px;
}

#teaser {
  /*border: 5px solid rgb(249, 0, 0);*/
  /*margin-top: 100px;*/
  width: 100%;
  height: 190px;
  background: url(../img/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

#rec {
  width: 100%;
  height: 100%;
  background: url(../img/rec.svg);
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 0.8;
}

#desktopteaser {
  display: none;
}

#section1 {
  margin-top: 49px;
  margin-left: 15px;
  margin-right: 25px;
}
#section1 h3 {
  opacity: 0.8;
  color: #575656;
  font-size: 22px;
}
#section1 p {
  font-size: 16px;
  color:#575656;
}
#section2 {
  margin-top: 89px;
  margin-left: 15px;
  margin-right: 25px;
}
#section2 h3 {
  color: #575656;
  font-size: 22px;
}
#section2 p {
  font-size: 16px;
  color:#575656;
}


.desktopinhalt {
  display: none;
}

.slide h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 200;
  padding-left: 15px;
  padding-right: 25px;
  text-align: center;
}
.slide img {
  margin-top: 40px;
  width: 290px;
  height: 177px;
  margin-left: auto;
  margin-right: auto;
}
.slide a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}
.slide {
  background-color: #575656;
  width: 100%;
  margin-top: 49px;
}
.single-item {
  height: 510px;
}

.circleblue {
  margin: 20px;
  background-color: #009CB5;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.circlewhite {
  margin: 20px;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.buttonreihe {
  text-align: center;
  margin-top: 30px;
}

#zitatbox {
  background-color: #009CB5;
  font-size: 14px;
  font-weight: 200;
  color: white;
  padding: 0px 40px 60px 20px;
  margin-bottom: 40px;
}
#kommata {
  width: 50px;
  height: 70px;
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  color: white;
}

#kommentarslider {
  margin-top: -55px;
  display: flex;
  justify-content: center;
  height: 25px;
}
#kommentarsliderbuttonleft {
  background-color: #575656;
  font-size:20px;
  color: white;
  margin-right: 20px;
}
#kommentarsliderbuttonright {
  background-color: #575656;
  font-size:20px;
  color: white;
  margin-left: 20px;
}


#kommi {
  background-color: rgb(0, 0, 0);
}

hr {
  size: 20px;
  padding: 1px;
  margin: 50px 25px 50px 20px;
  color: #009CB5;
  background-color: #009CB5;
}

#bewertung {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 25px;
}

#bewertungstext {
  width: 100%;
  height: 200px;
}

#bewertungsformular {
  width: 100%;
}

#vorname {
  width: 100%;
}

#nachname {
  width: 100%;
}

#email {
  width: 100%;
}



@media screen and (min-width: 800px) {
  .button {
    margin-left: 100px;
  }
  #section1 {
    width: 890px;
    margin-left: 100px;
  }
  #section1 h3 {
    font-size: 42px;
  }
  #section1 p {
    font-size: 18px;
  }
  .mobileinhalt {
    display: none;
  }
  .desktopinhalt {
    display: flex;
  }
  #teaser {
      height: 770px;
  }
  nav {
      height: 130px;
      padding-top: 30px;
      padding-left: 100px;
      padding-right: 100px;
  }
  #titel {
      padding-top: 200px;
      padding-left: 100px;
      font-size: 5em;
  }
  #desktopteaser {
    display: flex;
    border: #000000 solid 2px;
    width: 500px;
    color: white;
    padding-left: 100px;
  }
  .menu-items div {
    /*border: #000000 solid 2px;*/
    float:left;
    opacity: 1;
    text-align: right;
    width: 300px;
  }
  .menu-items {
    font-size: 20px;
    width: 100%;
    margin-left: 200px;
    opacity: 1;
    transform:none;
    margin-top: -50px;
  }
  .menu-burger {
    display: none;
  }
  .menu-bg {
    display: none;
  }
}
